{% extends "base.html" %}

{% block content %}
<h1 align="center">{{ title }}</h1>
<p><h4 align="Center" style="color:red">{{ claim }}</h4> </p>

{% include 'includes/messages.html' %}

{% if object_list %}

    <table class="table table-bordered table-hover table-condensed col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 small bgcolor=#a9a9a9">
	<thead>
		<tr>
            <th style='vertical-align:middle' class='text-center'>Imagen destacada: </th>
			<th style='vertical-align:middle' class='text-center'>Usuario: </th>
			<th style='vertical-align:middle' class='text-center'>Titulo</th>
			<th style='vertical-align:middle' class='text-center'>Introduccion</th>
			<th style='vertical-align:middle' class='text-center'>cuerpo</th>
			<th style='vertical-align:middle' class='text-center'>publish_on</th>
			<th style='vertical-align:middle' class='text-center'>Blog</th>
			<th style='vertical-align:middle' class='text-center'>Categorias</th>
			<th style='vertical-align:middle' class='text-center'>Acciones</th>

		</tr>

	</thead>
	<tbody>
    {% for post in object_list %}
    <tr bgcolor="white">

        <td style='vertical-align:middle;font-weight: bold' class='text-center' nowrap>
		{% if post.imagen %}
    		<img src="{{ post.imagen.url }}" width="50" height="50">
		{% endif %}
		</td>
        <td style='vertical-align:middle' class='text-center'>{{ post.owner }}</td>
        <td style='vertical-align:middle' class='text-center'>{{ post.titulo }}</td>
        <td style='vertical-align:middle' class='text-center'>{{ post.intro }}</td>
        <td style='vertical-align:middle;font-weight: bold' class='text-center'>{{ post.cuerpo }}</td>
        <td style='vertical-align:middle;font-weight: bold' class='text-center'>{{ post.fpublicacion }}</td>
		<td style='vertical-align:middle;font-weight: bold' class='text-center'>{{ post.blog.titulo }}</td>
		<td style='vertical-align:middle;font-weight: bold' class='text-center' nowrap>
		{% for cate in post.categoria.all%}
			{{cate.nombre}},
		{%endfor%}
		</td>


        <td style='vertical-align:middle' class='text-right' nowrap>
			{% if user.is_anonymous %}
				<a class="btn btn-primary btn-ld" href="{%url 'detalle' post.id%}">Detalle </a>
			{% else %}
				{% if user == post.owner %}
					<a class="btn btn-primary btn-ld" href="{%url 'detalle' post.id%}">Detalle </a>
					<a class="btn btn-danger btn-xs" href="#">Eliminar</a>
				{% else %}
					<a class="btn btn-primary btn-ld" href="detalle/{{post.id}}">Detalle </a>
				{% endif %}
			{% endif %}

        </td>
	{% endfor %}
{% else %}
		<h4 align="center">No hay post de usuarios</h4>
{% endif %}
	</tbody>
</table>

 <ul class="pagination justify-content-center">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Next</a>
    	{% endif %}
    </li>
</ul>


{% endblock%}